/* global dark theme, white text, and font */
body {
    background-color: #121212;
    color: #ffffff;;
    font-family: monospace;
    margin: 0;
    padding: 0;
}

/* home page wrapper */
.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* || INDIVIDUAL POST SECTION */
/* each individual post container */
/* lighter color background to look nice */
.posts-container {
    background-color: #1e1e1e;
    border: none;
    border-radius: 6px;
    padding: 16px;
    width: 60%;
    margin: 12px auto;
}

/* message for no posts. simple */
.posts-empty-text {
    color: #8f8f8f;
    text-align: center;
    font-style: italic;
}

/* title for each post */
.post-title {
    margin: 0 0 8px 0;
    font-size: 1.6em;
}

/* author for each post, darker color */
.post-author {
    margin: 0 0 8px 0;
    font-size: 1em;
    color: #8f8f8f;
}

/* individual post body text, looks better a bit spaced */
.post-body {
    margin-bottom: 0 0 16px 0;
    line-height: 1.2;
    white-space: pre-wrap; /* allows white space */
}

/* || EDITING INDIVIDUAL POST SECTION */
/* edit styles */
.edit-post-title,
.edit-post-body {
    width: 100%;
    background-color: #2a2a2a;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 8px;
    margin-bottom: 8px;
}

/* button styles */
button {
    background-color: #2a2a2a;
    color: #ffffff;
    border: 1px solid #8f8f8f;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    font-family: monospace;
    margin-right: 8px;
}
button:hover {
    background-color: #444444;
}
.save-button {
    border-color: #4bb04f;
}
.cancel-button {
    border-color: #e53935;
}
.delete-button {
    border-color: #e53935;
}


/* site title styling "the hole" */
.site-title {
    text-align: center;
    margin-bottom: 20px;
}
.site-title h1 {
    font-size: 2.3em;
    margin: 0;
    color: #ffffff;
}

/* || ADMIN VIEW SECTION */
/* container for all create post stuff */
.create-post-container {
    background-color: #1e1e1e;
    border: none;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 20px;
    width: 60%;
}

.create-post-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.3em;
    text-align: center;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.create-post-form-title,
.create-post-form-body {
    width: 100%;
    background-color: #2a2a2a;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-family: monospace;
    box-sizing: border-box;
}
.create-post-form-body {
    height: 100px;
    resize: vertical;
    overflow: auto;
}
.create-post-form-button {
    padding: 8px;
    align-self: flex-end;
}
